.w-75per {
  width: 75%;
}

.pagination-margin {
  margin: 1.5em;
}

.breadcrumb-padding {
  padding-top:1.5em; 
  padding-bottom:1.5em;
  padding-left:1em;
}

.table-header-title {
  padding-top: 0.5em;
}

.search-box-width-sm {
  width: 15em !important;
}

.search-box-width-lg {
  width: 25em !important;
}

.bulkAction {
  cursor: pointer;
}

.link-disabled {
  color: black;
  pointer-events: none;
}

.pointer {
  cursor: pointer;
}

.admin-wallet img {
    width: 10em;
    margin-bottom: 1em;
}

.admin-wallet {
    text-align: center;
}

.admin-wallet p {
    padding: 0.7em;
    border: 1px solid #dbdade;
    border-radius: 0.375rem 0 0 0.375rem;
    margin: 0;
}

.admin-wallet span {
    border: 1px solid #dbdade;
    border-radius: 0 0.375rem 0.375rem 0;
    padding: 0.7em;
}

.wallet-address-sec {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.hide {
  display: none !important;
}